<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>Are you sure?</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Delete</button>
        </form>
      </div>
    </main>
  </body>
</html>
