<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url "todo_item_create" %}">Create a new item</a>
        </p>
        <table>
          <thead>
            <th class="table-head">Name</th>
            <th class="table-head">Number of items</th>
          </thead>
          <tbody>
            {% for todolist in todolist_list %}
                <tr>
                  <td><a href="{% url 'todo_list_detail' todolist.pk %}">{{ todolist.name }}</a></td>
                  <td>{{ todolist.items.all| length }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
